asgiref==3.8.1
build==1.2.2.post1
click==8.1.7
colorama==0.4.6
Django==5.1.4
packaging==24.2
pillow==11.0.0
pip-tools==7.4.1
pyproject_hooks==1.2.0
setuptools==75.6.0
sqlparse==0.5.2
tzdata==2024.2
wheel==0.45.1
whitenoise==6.8.2
