{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Reviews START -->
<section class="py-4">
	<div class="container">
    <div class="row pb-4">
			<div class="col-12">
        <!-- Title -->
				<div class="d-sm-flex justify-content-sm-between align-items-center">
					<h1 class="mb-2 mb-sm-0 h2">Reviews <span class="badge bg-primary bg-opacity-10 text-primary">301</span></h1>			
					<a href="#" class="btn btn-sm btn-primary mb-0"><i class="fas fa-plus me-2"></i>Add a review</a>
				</div>
			</div>
		</div>
		<div class="row g-4">
			<div class="col-12">
          <!-- Blog list table START -->
          <div class="card border bg-transparent rounded-3">
            <!-- Card body START -->
            <div class="card-body py-3">
              <!-- Blog list table START -->
              <div class="table-responsive border-0">
                <table class="table p-4 mb-0 table-shrink">
                  <!-- Table head -->
                  <thead class="table-dark">
                    <tr>
                      <th scope="col" class="border-0 rounded-start">Blog Name</th>
                      <th scope="col" class="border-0">Reviewer</th>
                      <th scope="col" class="border-0">Rating</th>
                      <th scope="col" class="border-0">Hide/Show</th>
                      <th scope="col" class="border-0 rounded-end">Action</th>
                    </tr>
                  </thead>
                  <!-- Table body START -->
                  <tbody class="border-top-0">
                    <!-- Table item -->
                    <tr>
                      <!-- Table data -->
                      <td>
                        <h6 class="course-title mb-0"><a href="#">Five intermediate guide to business</a></h6>
                      </td>
                      <!-- Table data -->
                      <td>
                        by Lori Stevens
                      </td>
                      <!-- Table data -->
                      <td>
                        <ul class="list-inline mb-2">
                          <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                        </ul>
                        <p class="small course-title">Our side fail find like now Discovered travelling for insensible partiality unpleasing impossible she Sudden up my excuse to suffer ladies though or Bachelor possible marianne directly confined relation as on he <a href="#" data-bs-toggle="modal" data-bs-target="#viewReview"> Read more</a> </p>
                      </td>
                      <!-- Table data -->
                      <td>
                        <div class="form-check form-switch form-check-md">
                          <input class="form-check-input" type="checkbox" id="checkReview1">
                        </div>
                      </td>
                      <!-- Table data -->
                      <td>
                        <div class="dropdown">
                          <a href="#" class="btn btn-light btn-round mb-0" role="button" id="dropdownReview" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots fa-fw"></i>
                          </a>
                          <!-- dropdown button -->
                          <ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownReview">
                            <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square fa-fw me-2"></i>Edit</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-trash fa-fw me-2"></i>Delete</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                    <!-- Table item -->
                    <tr>
                      <!-- Table data -->
                      <td>
                        <h6 class="course-title mb-0"><a href="#">15 reasons to choose startup</a></h6>
                      </td>
                      <!-- Table data -->
                      <td>
                         by Judy Nguyen 
                      </td>
                      <!-- Table data -->
                      <td>
                        <ul class="list-inline mb-2">
                          <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                        </ul>
                        <p class="small course-title">Our side fail find like now Discovered travelling for insensible partiality unpleasing impossible she Sudden up my excuse to suffer ladies though or Bachelor possible marianne directly confined relation as on he <a href="#" data-bs-toggle="modal" data-bs-target="#viewReview"> Read more</a> </p>
                      </td>
                      <!-- Table data -->
                      <td>
                        <div class="form-check form-switch form-check-md">
                          <input class="form-check-input" type="checkbox" id="checkReview2">
                        </div>
                      </td>
                      <!-- Table data -->
                      <td>
                        <div class="dropdown">
                          <a href="#" class="btn btn-light btn-round mb-0" role="button" id="dropdownReview2" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots fa-fw"></i>
                          </a>
                          <!-- dropdown button -->
                          <ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownReview2">
                            <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square fa-fw me-2"></i>Edit</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-trash fa-fw me-2"></i>Delete</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                    <!-- Table item -->
                    <tr>
                      <!-- Table data -->
                      <td>
                        <h6 class="course-title mb-0"><a href="#">The pros and cons of business agency</a></h6>
                      </td>
                      <!-- Table data -->
                      <td>
                         by Billy Vasquez 
                      </td>
                      <!-- Table data -->
                      <td>
                        <ul class="list-inline mb-2">
                          <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                        </ul>
                         <p class="course-title small">course-titleOur side fail find like now Discovered travelling for insensible partiality unpleasing impossible she Sudden up my excuse to suffer ladies though or Bachelor possible marianne directly confined relation as on he <a href="#" data-bs-toggle="modal" data-bs-target="#viewReview"> Read more</a> </p>
                      </td>
                      <!-- Table data -->
                      <td>
                        <div class="form-check form-switch form-check-md">
                          <input class="form-check-input" type="checkbox" id="checkReview3">
                        </div>
                      </td>
                      <!-- Table data -->
                      <td>
                        <div class="dropdown">
                          <a href="#" class="btn btn-light btn-round mb-0" role="button" id="dropdownReview3" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots fa-fw"></i>
                          </a>
                          <!-- dropdown button -->
                          <ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownReview3">
                            <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square fa-fw me-2"></i>Edit</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-trash fa-fw me-2"></i>Delete</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                    <!-- Table item -->
                    <tr>
                      <!-- Table data -->
                      <td>
                        <h6 class="course-title mb-0"><a href="#">5 reasons why you shouldn't startup</a></h6>
                      </td>
                      <!-- Table data -->
                      <td>
                        by Amanda Reed
                      </td>
                      <!-- Table data -->
                      <td>
                        <ul class="list-inline mb-2">
                          <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-0 small"><i class="fas fa-star text-body-secondary"></i></li>
                          <li class="list-inline-item me-0 small"><i class="fas fa-star text-body-secondary"></i></li>
                        </ul>
                         <p class="course-title small">course-titleOur side fail find like now Discovered travelling for insensible partiality unpleasing impossible she Sudden up my excuse to suffer ladies though or Bachelor possible marianne directly confined relation as on he <a href="#" data-bs-toggle="modal" data-bs-target="#viewReview"> Read more</a> </p>
                      </td>
                      <!-- Table data -->
                      <td>
                        <div class="form-check form-switch form-check-md">
                          <input class="form-check-input" type="checkbox" id="checkReview4">
                        </div>
                      </td>
                      <!-- Table data -->
                      <td>
                        <div class="dropdown">
                          <a href="#" class="btn btn-light btn-round mb-0" role="button" id="dropdownReview4" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots fa-fw"></i>
                          </a>
                          <!-- dropdown button -->
                          <ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownReview4">
                            <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square fa-fw me-2"></i>Edit</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-trash fa-fw me-2"></i>Delete</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                    <!-- Table item -->
                    <tr>
                      <!-- Table data -->
                      <td>
                        <h6 class="course-title mb-0"><a href="#">Skills that you can learn from business</a></h6>
                      </td>
                      <!-- Table data -->
                      <td>
                        by Larry Lawson
                      </td>
                      <!-- Table data -->
                      <td>
                        <ul class="list-inline mb-2">
                          <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-0 small"><i class="fas fa-star text-body-secondary"></i></li>
                        </ul>
                         <p class="course-title small">course-titleOur side fail find like now Discovered travelling for insensible partiality unpleasing impossible she Sudden up my excuse to suffer ladies though or Bachelor possible marianne directly confined relation as on he <a href="#" data-bs-toggle="modal" data-bs-target="#viewReview"> Read more</a> </p>
                      </td>
                      <!-- Table data -->
                      <td>
                        <div class="form-check form-switch form-check-md">
                          <input class="form-check-input" type="checkbox" id="checkReview5">
                        </div>
                      </td>
                      <!-- Table data -->
                      <td>
                        <div class="dropdown">
                          <a href="#" class="btn btn-light btn-round mb-0" role="button" id="dropdownReview5" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots fa-fw"></i>
                          </a>
                          <!-- dropdown button -->
                          <ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownReview5">
                            <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square fa-fw me-2"></i>Edit</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-trash fa-fw me-2"></i>Delete</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <!-- Table body END -->
                </table>
              </div>
              <!-- Blog list table END -->

              <!-- Pagination START -->
              <div class="d-sm-flex justify-content-sm-between align-items-sm-center mt-4 mt-sm-3">
                <!-- Content -->
                <p class="mb-sm-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>
                <!-- Pagination -->
                <nav class="mb-sm-0 d-flex justify-content-center" aria-label="navigation">
                  <ul class="pagination pagination-sm pagination-bordered mb-0">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Prev</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">..</a></li>
                    <li class="page-item"><a class="page-link" href="#">15</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>
              <!-- Pagination END -->
            </div>
          </div>
          <!-- Blog list table END -->
        </div>
        <div class="col-lg-6">
          <!-- Top rated post START -->
          <div class="card border bg-transparent rounded-3">
            <!-- Card header START -->
            <div class="card-header bg-transparent border-bottom py-3">
              <h5 class="mb-2 mb-sm-0">Top rated post</h5>
            </div>
            <!-- Card header END -->

            <!-- Card body START -->
            <div class="card-body py-3">

              <!-- Blog list table START -->
              <div class="table-responsive border-0">
                <table class="table align-middle p-4 mb-0 table-shrink">
                  <!-- Table head -->
                  <thead class="table-dark">
                    <tr>
                      <th scope="col" class="border-0 rounded-start">Blog Name</th>
                      <th scope="col" class="border-0">Rating</th>
                      <th scope="col" class="border-0 rounded-end">Action</th>
                    </tr>
                  </thead>

                  <!-- Table body START -->
                  <tbody class="border-top-0">

                    <!-- Table item -->
                    <tr>
                      <!-- Table data -->
                      <td>
                        <h6 class="course-title mb-0"><a href="#">Five intermediate guide to business</a></h6>
                      </td>
                      <!-- Table data -->
                      <td>
                        <ul class="list-inline d-flex mb-0">
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                        </ul>
                      </td>
                      <!-- Table data -->
                      <td>
                        <div class="dropdown">
                          <a href="#" class="btn btn-light btn-round mb-0" role="button" id="dropdownReview6" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots fa-fw"></i>
                          </a>
                          <!-- dropdown button -->
                          <ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownReview6">
                            <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square fa-fw me-2"></i>Edit</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-trash fa-fw me-2"></i>Delete</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>

                    <!-- Table item -->
                    <tr>
                      <!-- Table data -->
                      <td>
                        <h6 class="course-title mb-0"><a href="#">15 reasons to choose startup</a></h6>
                      </td>
                      <!-- Table data -->
                      <td>
                        <ul class="list-inline d-flex mb-0">
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                        </ul>
                      </td>
                      <!-- Table data -->
                      <td>
                        <div class="dropdown">
                          <a href="#" class="btn btn-light btn-round mb-0" role="button" id="dropdownReview7" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots fa-fw"></i>
                          </a>
                          <!-- dropdown button -->
                          <ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownReview7">
                            <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square fa-fw me-2"></i>Edit</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-trash fa-fw me-2"></i>Delete</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                    <!-- Table item -->
                    <tr>
                      <!-- Table data -->
                      <td>
                        <h6 class="course-title mb-0"><a href="#">The pros and cons of business agency</a></h6>
                      </td>
                      <!-- Table data -->
                      <td>
                        <ul class="list-inline d-flex mb-0">
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                        </ul>
                      </td>
                      <!-- Table data -->
                      <td>
                        <div class="dropdown">
                          <a href="#" class="btn btn-light btn-round mb-0" role="button" id="dropdownReview8" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots fa-fw"></i>
                          </a>
                          <!-- dropdown button -->
                          <ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownReview8">
                            <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square fa-fw me-2"></i>Edit</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-trash fa-fw me-2"></i>Delete</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>

                    <!-- Table item -->
                    <tr>
                      <!-- Table data -->
                      <td>
                        <h6 class="course-title mb-0"><a href="#">5 reasons why you shouldn't startup</a></h6>
                      </td>
                      <!-- Table data -->
                      <td>
                        <ul class="list-inline d-flex mb-0">
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-body-secondary"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-body-secondary"></i></li>
                        </ul>
                      </td>
                      <!-- Table data -->
                      <td>
                        <div class="dropdown">
                          <a href="#" class="btn btn-light btn-round mb-0" role="button" id="dropdownReview9" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots fa-fw"></i>
                          </a>
                          <!-- dropdown button -->
                          <ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownReview9">
                            <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square fa-fw me-2"></i>Edit</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-trash fa-fw me-2"></i>Delete</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>

                    <!-- Table item -->
                    <tr>
                      <!-- Table data -->
                      <td>
                        <h6 class="course-title mb-0"><a href="#">Skills that you can learn from business</a></h6>
                      </td>
                      <!-- Table data -->
                      <td>
                        <ul class="list-inline d-flex mb-0">
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-body-secondary"></i></li>
                        </ul>
                      </td>
                      <!-- Table data -->
                      <td>
                        <div class="dropdown">
                          <a href="#" class="btn btn-light btn-round mb-0" role="button" id="dropdownReview10" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots fa-fw"></i>
                          </a>
                          <!-- dropdown button -->
                          <ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownReview10">
                            <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square fa-fw me-2"></i>Edit</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-trash fa-fw me-2"></i>Delete</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>

                  </tbody>
                  <!-- Table body END -->
                </table>
              </div>
              <!-- Top rated post END -->

              <!-- Pagination START -->
              <div class="d-sm-flex justify-content-sm-between align-items-sm-center mt-4 mt-sm-3">
                <!-- Content -->
                <p class="mb-sm-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>
                <!-- Pagination -->
                <nav class="mb-sm-0 d-flex justify-content-center" aria-label="navigation">
                  <ul class="pagination pagination-sm pagination-bordered mb-0">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Prev</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">..</a></li>
                    <li class="page-item"><a class="page-link" href="#">15</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>
              <!-- Pagination END -->
            </div>
          </div>
          <!-- Blog list table END -->
        </div>
        <div class="col-lg-6">
          <!-- Blog list table START -->
          <div class="card border bg-transparent rounded-3">
            <!-- Card header START -->
            <div class="card-header bg-transparent border-bottom py-3">
              <h5 class="mb-2 mb-sm-0">Top rated author </h5>
            </div>
            <!-- Card header END -->

            <!-- Card body START -->
            <div class="card-body py-3">
              <div class="table-responsive">
                <table class="table p-4 mb-0 align-middle table-shrink">
                  <!-- Table head -->
                  <thead class="table-dark">
                    <tr> 
                      <th scope="col" class="border-0 rounded-start">Author Name</th>
                      <th scope="col" class="border-0">Rating</th>
                      <th scope="col" class="border-0 rounded-end">Action</th>
                    </tr>
                  </thead>

                  <!-- Table body START -->
                  <tbody class="border-top-0">

                    <!-- Table item -->
                    <tr>
                      <!-- Table data -->
                      <td>
                        <div class="d-flex align-items-center position-relative">
                          <div class="avatar avatar-xs me-2">
                            <img class="avatar-img rounded-circle" src="{% static 'assets//images/avatar/01.jpg' %}" alt="avatar">
                          </div>
                          <div>
                            <h6 class="mb-1"><a href="#" class="stretched-link text-reset btn-link">Lori Ferguson</a></h6>
                          </div>
                        </div>
                      </td>

                      <!-- Table data -->
                      <td>
                        <ul class="list-inline d-flex mb-0">
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                        </ul>
                      </td>

                      <!-- Table data -->
                      <td>
                        <div class="dropdown">
                          <a href="#" class="btn btn-light btn-round mb-0" role="button" id="dropdownReview11" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots fa-fw"></i>
                          </a>
                          <!-- dropdown button -->
                          <ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownReview11">
                            <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square fa-fw me-2"></i>Edit</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-trash fa-fw me-2"></i>Delete</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>

                    <!-- Table item -->
                    <tr>
                      <!-- Table data -->
                      <td>
                        <div class="d-flex align-items-center position-relative">
                          <div class="avatar avatar-xs me-2">
                            <img class="avatar-img rounded-circle" src="{% static 'assets//images/avatar/02.jpg' %}" alt="avatar">
                          </div>
                          <div>
                            <h6 class="mb-1"><a href="#" class="stretched-link text-reset btn-link">Judy Nguyen</a></h6>
                          </div>
                        </div>
                      </td>

                      <!-- Table data -->
                      <td>
                        <ul class="list-inline d-flex mb-0">
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                        </ul>
                      </td>

                      <!-- Table data -->
                      <td>
                        <div class="dropdown">
                          <a href="#" class="btn btn-light btn-round mb-0" role="button" id="dropdownReview12" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots fa-fw"></i>
                          </a>
                          <!-- dropdown button -->
                          <ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownReview12">
                            <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square fa-fw me-2"></i>Edit</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-trash fa-fw me-2"></i>Delete</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>

                    <!-- Table item -->
                    <tr>
                      <!-- Table data -->
                      <td>
                        <div class="d-flex align-items-center position-relative">
                          <div class="avatar avatar-xs me-2">
                            <img class="avatar-img rounded-circle" src="{% static 'assets//images/avatar/03.jpg' %}" alt="avatar">
                          </div>
                          <div>
                            <h6 class="mb-1"><a href="#" class="stretched-link text-reset btn-link">Billy Vasquez</a></h6>
                          </div>
                        </div>
                      </td>

                      <!-- Table data -->
                      <td>
                        <ul class="list-inline d-flex mb-0">
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                        </ul>
                      </td>

                      <!-- Table data -->
                      <td>
                        <div class="dropdown">
                          <a href="#" class="btn btn-light btn-round mb-0" role="button" id="dropdownReview13" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots fa-fw"></i>
                          </a>
                          <!-- dropdown button -->
                          <ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownReview13">
                            <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square fa-fw me-2"></i>Edit</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-trash fa-fw me-2"></i>Delete</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>

                    <!-- Table item -->
                    <tr>
                      <!-- Table data -->
                      <td>
                        <div class="d-flex align-items-center position-relative">
                          <div class="avatar avatar-xs me-2">
                            <img class="avatar-img rounded-circle" src="{% static 'assets//images/avatar/04.jpg' %}" alt="avatar">
                          </div>
                          <div>
                            <h6 class="mb-1"><a href="#" class="stretched-link text-reset btn-link">Dennis Barrett</a></h6>
                          </div>
                        </div>
                      </td>

                      <!-- Table data -->
                      <td>
                        <ul class="list-inline d-flex mb-0">
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-body-secondary"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-body-secondary"></i></li>
                        </ul>
                      </td>

                      <!-- Table data -->
                      <td>
                        <div class="dropdown">
                          <a href="#" class="btn btn-light btn-round mb-0" role="button" id="dropdownReview14" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots fa-fw"></i>
                          </a>
                          <!-- dropdown button -->
                          <ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownReview14">
                            <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square fa-fw me-2"></i>Edit</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-trash fa-fw me-2"></i>Delete</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>

                    <!-- Table item -->
                    <tr>
                      <!-- Table data -->
                      <td>
                        <div class="d-flex align-items-center position-relative">
                          <div class="avatar avatar-xs me-2">
                            <img class="avatar-img rounded-circle" src="{% static 'assets//images/avatar/05.jpg' %}" alt="avatar">
                          </div>
                          <div>
                            <h6 class="mb-1"><a href="#" class="stretched-link text-reset btn-link">Amanda Reed</a></h6>
                          </div>
                        </div>
                      </td>

                      <!-- Table data -->
                      <td>
                        <ul class="list-inline d-flex mb-0">
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item me-1 small"><i class="fas fa-star text-body-secondary"></i></li>
                        </ul>
                      </td>

                      <!-- Table data -->
                      <td>
                        <div class="dropdown">
                          <a href="#" class="btn btn-light btn-round mb-0" role="button" id="dropdownReview115" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots fa-fw"></i>
                          </a>
                          <!-- dropdown button -->
                          <ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownReview115">
                            <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square fa-fw me-2"></i>Edit</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-trash fa-fw me-2"></i>Delete</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>

                  </tbody>
                  <!-- Table body END -->
                </table>
              </div>

              <!-- Pagination START -->
              <div class="d-sm-flex justify-content-sm-between align-items-sm-center mt-4 mt-sm-3">
                <!-- Content -->
                <p class="mb-sm-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>
                <!-- Pagination -->
                <nav class="mb-sm-0 d-flex justify-content-center" aria-label="navigation">
                  <ul class="pagination pagination-sm pagination-bordered mb-0">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Prev</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">..</a></li>
                    <li class="page-item"><a class="page-link" href="#">15</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>
              <!-- Pagination END -->
            </div>
          </div>
          <!-- Blog list table END -->
        </div>
			</div>
  </div>
</section>
<!-- =======================
Main contain END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->
{% endblock content %}